<a href="https://colab.research.google.com/github/omyahro/Data_200_Royals/blob/main/ORoyals_Commit07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install sqlite-database

Requirement already satisfied: sqlite-database in /usr/local/lib/python3.11/dist-packages (0.7.2)

In [5]:
# Import the libraries
import sqlite3
import csv
import numpy as np
import pandas as pd

In [6]:
# Create a connection
# Syntax: conn = sqlite3.connect('databaseName.sqlite')
conn = sqlite3.connect('energyindicators.sqlite')

# Create a cursor object to navigate
cur = conn.cursor()

# SQL Basics

In [19]:
# Create a cursor to interact with the database.
cur.execute('DROP TABLE BlackAthletes')

In [20]:
# Create a new table named students
# Table fields will be name, graduation year, and school
cur.execute('''
    CREATE TABLE BlackAthletes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        sport TEXT,
        country TEXT,
        olympic_medals INTEGER
    )
''')

conn.commit()

In [23]:
# Let's insert a record into the table
cur.execute('''
    INSERT INTO BlackAthletes (name, sport, country, olympic_medals)
    VALUES ('Michael Jordan', 'Basketball', 'USA', 2)
''')
conn.commit()

In [27]:
# Let's import more than one data into the table
# Start with a list for the data
data = [
    ("Serena Williams", "Tennis", "USA", 4),
    ("LeBron James", "Basketball", "USA", 2),
    ("Simone Biles", "Gymnastics", "USA", 7),
    ("Usain Bolt", "Track & Field", "Jamaica", 8),
    ("Wilma Rudolph", "Track & Field", "USA", 3),
    ("Muhammad Ali", "Boxing", "USA", 1),
    ("Naomi Osaka", "Tennis", "Japan", 0),
    ("Pelé", "Soccer", "Brazil", 0),  # World Cups, not Olympics
    ("Allyson Felix", "Track & Field", "USA", 11),
    ("Jackie Robinson", "Baseball", "USA", 0)
]

# Insert data into the table
cur.executemany('''
    INSERT INTO BlackAthletes (name, sport, country, olympic_medals)
    VALUES (?, ?, ?, ?)
''', data)

conn.commit()

In [28]:
cur.execute('''
SELECT *
FROM BlackAthletes;''')

cur.fetchall()

[(1, 'Michael Jordan', 'Basketball', 'USA', 2),
 (2, 'Serena Williams', 'Tennis', 'USA', 4),
 (3, 'LeBron James', 'Basketball', 'USA', 2),
 (4, 'Simone Biles', 'Gymnastics', 'USA', 7),
 (5, 'Usain Bolt', 'Track & Field', 'Jamaica', 8),
 (6, 'Wilma Rudolph', 'Track & Field', 'USA', 3),
 (7, 'Muhammad Ali', 'Boxing', 'USA', 1),
 (8, 'Naomi Osaka', 'Tennis', 'Japan', 0),
 (9, 'Pelé', 'Soccer', 'Brazil', 0),
 (10, 'Allyson Felix', 'Track & Field', 'USA', 11),
 (11, 'Jackie Robinson', 'Baseball', 'USA', 0),
 (12, 'Serena Williams', 'Tennis', 'USA', 4),
 (13, 'LeBron James', 'Basketball', 'USA', 2),
 (14, 'Simone Biles', 'Gymnastics', 'USA', 7),
 (15, 'Usain Bolt', 'Track & Field', 'Jamaica', 8),
 (16, 'Wilma Rudolph', 'Track & Field', 'USA', 3),
 (17, 'Muhammad Ali', 'Boxing', 'USA', 1),
 (18, 'Naomi Osaka', 'Tennis', 'Japan', 0),
 (19, 'Pelé', 'Soccer', 'Brazil', 0),
 (20, 'Allyson Felix', 'Track & Field', 'USA', 11),
 (21, 'Jackie Robinson', 'Baseball', 'USA', 0),
 (22, 'Serena Williams', 'Tennis', 'USA', 4),
 (23, 'LeBron James', 'Basketball', 'USA', 2),
 (24, 'Simone Biles', 'Gymnastics', 'USA', 7),
 (25, 'Usain Bolt', 'Track & Field', 'Jamaica', 8),
 (26, 'Wilma Rudolph', 'Track & Field', 'USA', 3),
 (27, 'Muhammad Ali', 'Boxing', 'USA', 1),
 (28, 'Naomi Osaka', 'Tennis', 'Japan', 0),
 (29, 'Pelé', 'Soccer', 'Brazil', 0),
 (30, 'Allyson Felix', 'Track & Field', 'USA', 11),
 (31, 'Jackie Robinson', 'Baseball', 'USA', 0)]

In [31]:
cur.execute('''

SELECT DISTINCT name, sport, country, olympic_medals
FROM BlackAthletes;''')

cur.fetchall()

[('Michael Jordan', 'Basketball', 'USA', 2),
 ('Serena Williams', 'Tennis', 'USA', 4),
 ('LeBron James', 'Basketball', 'USA', 2),
 ('Simone Biles', 'Gymnastics', 'USA', 7),
 ('Usain Bolt', 'Track & Field', 'Jamaica', 8),
 ('Wilma Rudolph', 'Track & Field', 'USA', 3),
 ('Muhammad Ali', 'Boxing', 'USA', 1),
 ('Naomi Osaka', 'Tennis', 'Japan', 0),
 ('Pelé', 'Soccer', 'Brazil', 0),
 ('Allyson Felix', 'Track & Field', 'USA', 11),
 ('Jackie Robinson', 'Baseball', 'USA', 0)]

In [35]:
cur.execute('''
    DELETE FROM BlackAthletes
    WHERE olympic_medals = 0
''')

cur.execute('''
SELECT *
FROM BlackAthletes;
''')


cur.fetchall()

[(1, 'Michael Jordan', 'Basketball', 'USA', 2),
 (2, 'Serena Williams', 'Tennis', 'USA', 4),
 (3, 'LeBron James', 'Basketball', 'USA', 2),
 (4, 'Simone Biles', 'Gymnastics', 'USA', 7),
 (5, 'Usain Bolt', 'Track & Field', 'Jamaica', 8),
 (6, 'Wilma Rudolph', 'Track & Field', 'USA', 3),
 (7, 'Muhammad Ali', 'Boxing', 'USA', 1),
 (10, 'Allyson Felix', 'Track & Field', 'USA', 11),
 (12, 'Serena Williams', 'Tennis', 'USA', 4),
 (13, 'LeBron James', 'Basketball', 'USA', 2),
 (14, 'Simone Biles', 'Gymnastics', 'USA', 7),
 (15, 'Usain Bolt', 'Track & Field', 'Jamaica', 8),
 (16, 'Wilma Rudolph', 'Track & Field', 'USA', 3),
 (17, 'Muhammad Ali', 'Boxing', 'USA', 1),
 (20, 'Allyson Felix', 'Track & Field', 'USA', 11),
 (22, 'Serena Williams', 'Tennis', 'USA', 4),
 (23, 'LeBron James', 'Basketball', 'USA', 2),
 (24, 'Simone Biles', 'Gymnastics', 'USA', 7),
 (25, 'Usain Bolt', 'Track & Field', 'Jamaica', 8),
 (26, 'Wilma Rudolph', 'Track & Field', 'USA', 3),
 (27, 'Muhammad Ali', 'Boxing', 'USA', 1),
 (30, 'Allyson Felix', 'Track & Field', 'USA', 11)]

In [32]:
cur.execute('''
SELECT *
    FROM BlackAthletes
    WHERE sport = "NULL";
''')

cur.fetchall()

[]

In [37]:
cur.execute('''
    SELECT * FROM BlackAthletes
    WHERE country = 'USA' AND olympic_medals >= 5
''')

cur.fetchall()

[(4, 'Simone Biles', 'Gymnastics', 'USA', 7),
 (10, 'Allyson Felix', 'Track & Field', 'USA', 11),
 (14, 'Simone Biles', 'Gymnastics', 'USA', 7),
 (20, 'Allyson Felix', 'Track & Field', 'USA', 11),
 (24, 'Simone Biles', 'Gymnastics', 'USA', 7),
 (30, 'Allyson Felix', 'Track & Field', 'USA', 11)]

In [29]:
cur.execute('''
SELECT *
    FROM BlackAthletes
    WHERE olympic_medals BETWEEN 2 AND 6;
''')

cur.fetchall()

[(1, 'Michael Jordan', 'Basketball', 'USA', 2),
 (2, 'Serena Williams', 'Tennis', 'USA', 4),
 (3, 'LeBron James', 'Basketball', 'USA', 2),
 (6, 'Wilma Rudolph', 'Track & Field', 'USA', 3),
 (12, 'Serena Williams', 'Tennis', 'USA', 4),
 (13, 'LeBron James', 'Basketball', 'USA', 2),
 (16, 'Wilma Rudolph', 'Track & Field', 'USA', 3),
 (22, 'Serena Williams', 'Tennis', 'USA', 4),
 (23, 'LeBron James', 'Basketball', 'USA', 2),
 (26, 'Wilma Rudolph', 'Track & Field', 'USA', 3)]