<a href="https://colab.research.google.com/github/omyahro/Data_200_Royals/blob/main/ORoyals_Commit06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install sqlite-database

Requirement already satisfied: sqlite-database in /usr/local/lib/python3.11/dist-packages (0.7.2)

In [ ]:
# Import the libraries
import sqlite3
import csv
import numpy as np
import pandas as pd

In [ ]:
# Create a connection
# Syntax: conn = sqlite3.connect('databaseName.sqlite')
conn = sqlite3.connect('energyindicators.sqlite')

# Create a cursor object to navigate
cur = conn.cursor()

# SQL Basics

In [ ]:
# Create a cursor to interact with the database.
cur.execute('DROP TABLE BlackAthletes')

In [ ]:
# Create a new table named students
# Table fields will be name, graduation year, and school
cur.execute('''
    CREATE TABLE BlackAthletes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        sport TEXT,
        country TEXT,
        olympic_medals INTEGER
    )
''')

conn.commit()

In [ ]:
# Let's insert a record into the table
cur.execute('''
    INSERT INTO BlackAthletes (name, sport, country, olympic_medals)
    VALUES ('Michael Jordan', 'Basketball', 'USA', 2)
''')
conn.commit()

In [ ]:
# Let's import more than one data into the table
# Start with a list for the data
data = [
    ("Serena Williams", "Tennis", "USA", 4),
    ("LeBron James", "Basketball", "USA", 2),
    ("Simone Biles", "Gymnastics", "USA", 7),
    ("Usain Bolt", "Track & Field", "Jamaica", 8),
    ("Wilma Rudolph", "Track & Field", "USA", 3),
    ("Muhammad Ali", "Boxing", "USA", 1),
    ("Naomi Osaka", "Tennis", "Japan", 0),
    ("Pel√©", "Soccer", "Brazil", 0),  # World Cups, not Olympics
    ("Allyson Felix", "Track & Field", "USA", 11),
    ("Jackie Robinson", "Baseball", "USA", 0)
]

# Insert data into the table
cur.executemany('''
    INSERT INTO BlackAthletes (name, sport, country, olympic_medals)
    VALUES (?, ?, ?, ?)
''', data)

conn.commit()